

<h3> Contact us for special veteran discounts! </h3>
<h2> <%= pluralize(@cars.size, 'Car') %> <%= 'is'.pluralize(@cars.size) %> in this list:</h2>

<ul>
  <% @cars.each do |car| %>
    <article>
      <header>
        <h3><%= link_to "#{car.year} #{car.make} #{car.model}", car %>      
      </header>
    <p>
    <table>
      <tr>
        <th> Color:</th>
        <td> <%= car.color %><br></td>
      </tr>

      <tr>
        <th>Mileage: </th>
        <td><%= car.mileage %></td>
      </tr>
      
      <tr>
        <th>Vehicle type: </th>
        <td><%= car.vehicle_type %></td> 
      </tr> 

      <tr>
        <th>Price: </th>
        <td><%= number_to_currency(car.price) %></td>
      </tr>
    </table>
  </article>
  
  <% end %>
  
</ul>